src/client/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegisterAgent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAgentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAgentByAgentNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAgentByAgentNoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartTaskResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopTaskResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataFreshMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataFreshMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataFreshMessageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterByClientNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterByClientNoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadToAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadToAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BroadToAgentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAgentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAgentMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAgentModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeAgentModeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionTest1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionTest1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionTest1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionTest2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionTest2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionTest2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionTest3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionTest3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionTest3Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAgentControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAgentControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendAgentControlResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAgentCollect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAgentCollectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendAgentCollectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChangeAgentMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChangeAgentModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendChangeAgentModeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStartTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStartTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendStartTaskResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStopTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStopTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendStopTaskResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDataFreshMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDataFreshMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendDataFreshMessageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTransactionTest1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTransactionTest1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendTransactionTest1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTransactionTest2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTransactionTest2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendTransactionTest2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>